

@media(min-width: 768px) {
  .container {
    display:grid;
    background-color: rgb(204, 211, 218);
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
  }  
}


.container div, .container-2 div {
  border: 1px #ccc solid;
  padding: 20px;
}

.container2 {
  display:grid;
  background-color: rgb(204, 211, 218);
  grid-template-columns: auto;
  column-gap: 30px;
}  

.box1 {
  display: inline-grid;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 100px;
}

.box2 {
  display: inline-grid;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  width: 500px;
}





/*
display: flex | inline-flex;
flex-direction: row | column;
flex-wrap: wrap | nowrap | wrapreverse;
flex-basis: <len>;
justify-content: flex-start | flex-end | center;
align-self: flex-start | flex-end | center;
align-items: flex-start | flex-end | ccenter;
align-content: flex-start | flex-end | center;
flex-grow: <num>;
flex-shrink: <num>;
flex: <int>;
order: <int>;
*/



